@font-face {
    font-family: 'lubalin-graph';
    src: url('/src/assets/itc-lubalin-graph-std-bold.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'lubalin-graph';
    font-style: normal;
}

.custom-drop-shadow {
    filter: drop-shadow(5px 6px 19px #000000);
}

::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #D9C148;
    border-radius: 5px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #7E60BF;
    border-radius: 5px;
}
