@font-face {
    font-family: 'lubalin-graph'; /* Name your font family */
    src: url('/src/assets/itc-lubalin-graph-std-bold.ttf'); /* Locate the .ttf file within your directory*/
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'lubalin-graph';
    font-style: normal;
}

.custom-drop-shadow {
    filter: drop-shadow(5px 6px 19px #000000);
}
